@media only screen and (max-width:700px){


.page-2{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,1fr);

}



.about-img{
    grid-area: 1 / 1 / 5 / 2;
    background: url(/Shosh-Fachter-Website/assets/profile-img.jpeg) no-repeat center center/cover;

}

.about-text{
    grid-area: 5/ 1 / 10 / 2 ;
    text-align: center;
}

.about-links{
    grid-area:  10 / 1 / 11 / 2;
}

.about-text h2{
    margin-top: 0px;
    margin-bottom: 10px;
}
}