header{
    background-color: var(--third-color);
    height: 20vh;
    width:100vw;
    position:fixed;
    top:0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    z-index: 3;
    
}   

.toggler{
    display: none;
}

nav{
    margin-top: 5%;
    display: flex;
}       

nav .button{
    font-weight: 300;
    padding:40px;
    font-size: 1.3rem;
}      

header .logo img{
    height:100%;
}





.hamburger-div{
    display: none;
}



