header{
    background-color: var(--third-color);
    height: 20vh;
    width:100vw;
    position:fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

nav{
    display: flex;
    line-height: 8rem;
}       

nav .button{
    /* TODO - find out how to give font weight of 350 */
    font-weight: 300;
    padding:30px;
    font-size: 1.3rem;
}      

header .logo img{
    height:100%;
}

header .phone-num{
    width:15%;

    
}

.phone-num .phone-button{
    background-color: var(--secendary);
    height:30%;
    margin-left: 10%;
    margin-top: 30%;

    TODO: to change the way i located the phone-button in the y-axis;

    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: var(--third-color);
    text-align: center;
    padding-top: 5%;
    TODO: to change the way i located the phone-number in the y-axis;
    
}

@media only screen and (max-width:1000px){
    .phone-num {
        display:none;
    }
}
TODO: change the max-screen size to 560;