@media only screen and (max-width:700px){

    .phone-num {
        display:none;
    }

    /* Show nav */
    .hamburger-div .toggler:checked ~ .nav-bar{ 
        visibility: visible;

    }



    .nav-bar{
        flex-direction: column;
        width:100%;
        text-align: center;
        position: relative;
        margin-top: 50px;
        /* visibility: hidden; */
        
        
    }

    nav a{
        font-size: 1.2rem;
        
    }

    nav a:hover{
        color:var(--primery);
    }

    nav .button{  
        padding: 15px;
        background-color: var(--third-color);
    }

    

    .page-1::before{
        display: none;
    }   

    header .logo{
        position:fixed;
        top: 10px;
        right: 10px;
        height: 100px;
    }

     .hamburger-div .toggler{
        position: absolute;
        height: 50px;
        width: 50px;
        top: 20px;
        left: 20px;
        z-index:  2;
        cursor: pointer;
        opacity: 0;
    }

    .hamburger-div{
        display: block;
    }

    .hamburger-div .hamburger{
        position: absolute;
        top: 20px;;
        left:20px;
        z-index:1;
        width:60px;
        height: 60px;
        padding:1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Hamburger Line */
    .hamburger-div .hamburger > div{
        position: relative;
        flex: none;
        width:100%;
        height: 2px;
        background: var(--primery);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;

    }

    /* Hamburger lines - top and bottom */
    .hamburger-div .hamburger > div::before, 
    .hamburger-div .hamburger > div::after{
        content: '';
        position:absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }

    .hamburger-div .hamburger > div::after{
        top:10px;

}

/* Toggler animation */

.hamburger-div .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}

/* Turns Lines Into X */
.hamburger-div .toggler:checked + .hamburger > div:before,
.hamburger-div .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.hamburger-div .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }


TODO: change the max-screen size to 560;
