@media only screen and (max-width:700px){

    .phone-num {
        display:none;
    }
    nav{
        flex-direction: column;
        width:100%;
        text-align: center;
        position: relative;
        margin-top: 50px;
    }

    nav a{
        font-size: 1.2rem;

    }

    nav .button{  
        padding: 15px;
        background-color: var(--third-color);
    }

    /* nav::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top:0px;
        left:0px;
        right: 0px;
        bottom: 0px;
    } */

    .page-1::before{
        display: none;
    }   

    header .logo{
        position:fixed;
        top: 10px;
        right: 10px;
        height: 100px;
    }

     header .toggler{
        position :absolute;
        height: 50px;
        width: 50px;
        top:20px;
        left: 20px;
        z-index:100;
        cursor: pointer;
        opacity: 0;
    }

    .hamburger-div{
        display: block;
    }



}
TODO: change the max-screen size to 560;
