.page-1{
   
    /* background-color: var(--primery); */
    height: 100vh;
    position: relative;
    /* background: url('../assets/one-apple.jpg') no-repeat center center/cover; */
    /* opacity: 0.5; */
}

.page-1::before{
    content: '';
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../assets/one-apple.jpg') no-repeat center center/cover;
    opacity: 0.5;
}

 .page-1 section{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}

.profile-photo{
    border: var(--third-color) solid 10px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: url(/Shosh-Fachter-Website/assets/dana.jpeg) no-repeat center center/cover;
    opacity: 0.;
    display: none;
    
}

.page-1 h1{
    font-size: 3.5rem;
    padding: 10px;
    padding: 10px;
    
}

.page-1 h1, h2{
    color:var(--secendary);
    text-shadow: 0.5px 0.5px var(--third-color);
    opacity: 0.9;
}