.page-3 {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }
    
   .page-3 a{
       border: black 2px solid;
       transition: all 1s ;


   } 

   .page-3 a:hover{
    transform: scale(1.1);
    
} 

.page-3 a{
    display: inline-block;
}

    .div1 { grid-area: 1 / 1 / 3 / 4; 
        background: url(/Shosh-Fachter-Website/assets/פריכית.jpeg)no-repeat center center/cover;
    }
    .div2 { grid-area: 1 / 4 / 4 / 7;
        background: url(/Shosh-Fachter-Website/assets/alpha.jpeg) no-repeat center center/cover;
    }
    .div3 { grid-area: 3 / 1 / 7 / 4; 
        background: url(/Shosh-Fachter-Website/assets/brownis.jpeg) no-repeat center center/cover;
    }
    .div4 { grid-area: 4 / 4 / 8 / 9;
        background: url(/Shosh-Fachter-Website/assets/capcakes.jpeg) no-repeat center center/cover;
    }
    .div5 { grid-area: 7 / 1 / 11 / 4;
        background: url(/Shosh-Fachter-Website/assets/magnum.jpeg) no-repeat center center/cover;
    }
    .div6 { grid-area: 1 / 7 / 4 / 11;
        background: url(/Shosh-Fachter-Website/assets/pie.jpeg) no-repeat center center/cover;
    }
    .div7 { grid-area: 4 / 9 / 8 / 11;
        background: url(/Shosh-Fachter-Website/assets/cookies.jpeg) no-repeat center center/cover;
    }
    .div8 { grid-area: 8 / 4 / 11 / 8;
        background: url(/Shosh-Fachter-Website/assets/mafins.jpeg) no-repeat center center/cover;
    }
    .div9 { grid-area: 8 / 8 / 11 / 11;
        background: url(/Shosh-Fachter-Website/assets/fogalah.jpeg) no-repeat center center/cover;
    }