/*utilities*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
} 


  body{
    direction: rtl;
    text-align: right;
    font-family: 'Rubik', sans-serif;
    --primery: #3e6913;
    --temp-primery-color:#81B622;
    --temp-secendary: #5f7c24;
    --secendary: #3D550C; 
    --third-color: #f9fafc;
    --temp-third-color:#fcffde;
    --header-height:20vh;
    /* background-color: var(--primery); */
    /* overflow: hidden; */
    /* background-color: var(--third-color); */
    TODO:if i didnt fixed the gap under the header i can un comment the bg color
    
}

a{
    text-decoration: none;
    color:var(--primery)
}
            
ul{
 list-style: none;
}





.container{
    position: relative;
}

/* TODO:find a more elegant way to deal  with the fixed header */

.header-fixer{
    height: var(--header-height);
}
