/*utilities*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
} 


  body{
    direction: rtl;
    text-align: right;
    font-family: 'Rubik', sans-serif;
   
    --primery: #81B622;
    --secendary: #3D550C;
    --third-color: #fcffde;
    --header-height:20vh;
    /* background-color: var(--primery); */
    overflow: hidden;
    
    
}

a{
    text-decoration: none;
    color:var(--primery)
}
            
ul{
 list-style: none;
}





.container{
    position: relative;
}

/* TODO:find a more elegant way to deal  with the fixed header */
.header-fixer{
    height: var(--header-height);
}
