.page-1{   
    height: 100vh;
    position: relative;
    background: url(./Untitled\ design.png) no-repeat center center/cover ;
    
}






 .page-1 section{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}

h5{
    font-size: 100px;
}
h6{
    font-size: 40px;
}










@media only screen and (max-width: 700px){
    .page-1 h5{
        font-size: 70px;
    }

    .page-1 h6{
        font-size: 40px;
    }

    .body{
        background-color: var(--primery);

}


