/*utilities*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
} 


  body{
    direction: rtl;
    text-align: right;
    font-family: 'Rubik', sans-serif;
    --primery: #3e6913;
    --temp-primery-color:#81B622;
    --temp-secendary: #5f7c24;
    --secendary: #3D550C; 
    --third-color: #f9fafc;
    --temp-third-color:#fcffde;
    --header-height:20vh;
    
}

a{
    text-decoration: none;
    color:var(--primery)
}
            
ul{
 list-style: none;
}





.container{
    position: relative;
}


.header-fixer{
    height: var(--header-height);
}

.whatsapp{
    height: 60px;
    width:60px;
    position: fixed;
    top: 90px;
    left: 20px;
    z-index: 5;
    transition: all 1s ;


}

.phone-btn{
    height: 63px;
    width: 63px;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: var(--primery);
    border-radius: 50%;
    border: white solid 3px;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    z-index: 5;
    transition: all 1s ;


}

.phone-btn i{
    color: white;

}

.phone-btn:hover, .whatsapp:hover{
    transform: scale(1.1);

}


@media only screen and (max-width:750px){
    .phone-btn{
    top: 90vh;
    right: 20px;
    height: 58px;
    width: 58px;
    }

    .whatsapp{
        top:90vh;
        left:20px;
    }
}